.view-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.viewer-container {
  padding: 0 50px 50px 50px;
  width: 50%;
}

.wmde-markdown.viewer {
  margin-bottom: 8rem;
}

.viewer-container .view-title {
  margin: 4em 0 10px 0;
  padding: 10px 0;
  font-size: 3.75rem;
  word-break: keep-all;
}

.viewer-container .post-data, .viewer-container .category-container {
  margin-bottom: 50px;
}

.viewer-container .post-data .writer, .viewer-container .post-data .dot {
  margin-right: 10px;
    font-size: 18px;
  font-weight: bold;
}

.viewer-container .date {
  font-size: 18px;
  color:rgb(94, 94, 94)
}

.viewer-container .category {
  padding: 5px 18px;
  border-radius: 1.5rem;
  background-color: #85dae6;
  color: rgb(55, 57, 75);
  margin-left: 0.5rem;
}

.delete-btn {
  font-size: 15px;
  margin-left: 85%;
  color: #afafaf;
}

.viewer-container .reply-container {

}
.viewer-container .reply-count {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.subreply-content {
  margin-left: 5%;
}

@media screen and (max-width: 1090px) {
  .viewer-container {
    padding: 0 50px 50px 50px;
    width: 95%;
  }

  .viewer-container .view-title {
    margin: 2em 0 10px 0;
    padding: 10px 0;
    font-size: 3.25rem;
  }
}