.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  
}

.not-found h2 {
  font-size: 3rem;
  margin-top: 0;
  position:absolute;
  left: 44%;
}
