body {
  margin: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
}

input {
  border: none;
  font-weight: 600;
}