.postcard {
  box-sizing: border-box;
  padding: 1rem;
  margin: 20px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 
  0 8px 16px -8px rgba(0, 0, 0, 0.3),
  0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: 0.2s;
  
}

.postcard:hover {
  scale: 102%;
  z-index: 100;
}

.postcard img {
  width: 100%;
}

.postcard .card-title {
  font-weight: 600;
  font-size: 20px;
}

.postcard .card-body {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.postcard .card-bottom span {
  display: flex;
  font-size: 15px;
  justify-content: end;
}
