.reply {
  font-size: 1.25rem;
  padding: 30px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(126, 126, 126);
}

.reply div:first-child{
}

.reply-writer, .reply .dot {
  margin-right: 10px;
  font-weight: bold;
}

.reply-date {
  color:rgb(66, 66, 66);
}

.reply-content {
  padding: 2rem 0;
  font-size: 1.4rem;
}

.subreply-click {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: bold;
  color: #6292b3;
  cursor: pointer;
  transition: 0.2s;
}

.subreply-click span {
  margin-left: 0.5rem;
}

.subreply-click:hover {
  color: #2e88c4;
}